[submodule "twetter"]
	path = twetter
	url = git://github.com/malclocke/twetter.git
[submodule "ideagora"]
	path = ideagora
	url = git://github.com/malclocke/ideagora.git
[submodule "avatard"]
	path = avatard
	url = git://github.com/malclocke/avatard.git
